@import "./variables";

.vue-video-player-root-container {
  background: $vue-video-player-background;
  color: $vue-video-player-primary-color;
  height: 100%;
  width: 100%;

  /**
    Full size of screen
   */
  &--full {
    height: 100vh;
    width: 100vw;
  }

  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

.vue-video-player-video-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.vue-video-player-video {
  height: 100%;
  width: 100%;
}

.vue-video-player-middle-button {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
}

.vue-video-player-controller {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  bottom: 0;
  min-height: 40px; // @TODO: Check youtube size
}

.vue-video-player-controller-progress-bar-container {
  display: flex;
  height: 5px;
  width: 100%;
  cursor: pointer;
  background-color: $vue-video-player-progress-bar-background;
}

.vue-video-player-controller-progress-bar-running {
  height: 100%;
  overflow: hidden;
  background-color: $vue-video-player-primary-color;
}

.vue-video-player-controller-menu {
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.vue-video-player-controller-button {
  padding-top: 3px;
  margin-right: 5px;
}

.vue-video-player-controller-volume-controller {
  min-width: 52px;
  display: flex;
  button {
    padding-top: 1px;
  }

  &--slider-container {
    flex-grow: 1;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: $vue-video-player-progress-bar-background;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: $vue-video-player-primary-color;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $vue-video-player-progress-bar-background;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: $vue-video-player-progress-bar-background;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background: $vue-video-player-primary-color;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: $vue-video-player-progress-bar-background;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $vue-video-player-progress-bar-background;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
}