@import "./variables";

.vue-video-player-root-container {
  background: $vue-video-player-background;
  color: $vue-video-player-primary-color;
  height: 100%;
  width: 100%;

  /**
    Full size of screen
   */
  &--full {
    height: 100vh;
    width: 100vw;
  }

  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

.vue-video-player-video-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.vue-video-player-video {
  height: 100%;
  width: 100%;
}

.vue-video-player-middle-button {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
}

.vue-video-player-controller {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  bottom: 0;
  min-height: 40px; // @TODO: Check youtube size
}

.vue-video-player-controller-progress-bar-container {
  display: flex;
  height: 5px;
  width: 100%;
  cursor: pointer;
  background-color: $vue-video-player-progress-bar-background;
}

.vue-video-player-controller-progress-bar-running {
  height: 100%;
  overflow: hidden;
  background-color: $vue-video-player-primary-color;
}

.vue-video-player-controller-menu {
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.vue-video-player-controller-button {
  padding-top: 3px;
  margin-right: 5px;
}

.vue-video-player-controller-volume-controller {
  min-width: 52px;
  display: flex;
  button {
    padding-top: 1px;
  }

  &--slider-container {
    padding-top: 2px;
    flex-grow: 1;
  }

  //&--slider ::-webkit-slider-thumb {
  //  -webkit-appearance: none;
  //  appearance: none;
  //  width: 25px;
  //  height: 25px;
  //  background: red;
  //  cursor: pointer;
  //}
}

.vue-video-player-controller-volume-controller--slider {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: red;
    cursor: pointer;
  }
}